.overlay-toc {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: hidden;
}

.overlay-toc-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 95%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
}

.overlay-toc-content ul {
    list-style-type: none;
    padding: 0;
  }

.overlay-toc-content ul ul {
    margin-left: 15px;
  }
.overlay-toc-content li {
    margin-bottom: 5px;
  }
.overlay-toc-content a {
    text-decoration: none;
    color: black;
    margin-left: 20%;
    display: block;
    margin-bottom: 10px;
  }

.overlay-toc-content a.active {
    font-weight: bold;
  }
  
    /* Add arrow list style for active links */
.overlay-toc-content a.active::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
    margin-right: 5px;
    margin-bottom: 2px;
  }
  
  /* Add indentation for h2 and h3 headings */
.overlay-toc-content ul ul li {
    margin-left: 15px;
  }
.overlay-toc-content ul ul ul li {
    margin-left: 30px;
  }

.overlay-toc-content h2 {
  margin-top: 0;
}

.toc-close-button {
    position: absolute;
    right: 30px;
    font-size: 20px;
    color: #999;
    cursor: pointer;
}


@media screen and (max-width: 400px) {
  .overlay-toc-content {
    //height: 95%;
    height: 535px;
    //width: 87%;
    width: 275px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
    font-size:12px;
  }
}

@media screen and (max-width: 400px) {
   .overlay-toc-content a {
      margin-bottom: 5px;
      margin-left: 0px;
   }
}

@media screen and (max-width: 400px) {
   .toc-close-button {
      position: absolute;
      right: 30px;
      font-size: 15px;
      color: #999;
      cursor: pointer;
   }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
  .overlay-toc-content {
    //height: 95%;
    height: 680px;
    //width: 87%;
    width: 350px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
    font-size:16px;
  }
}

@media screen and (min-width: 501px) and (max-width: 550px) {
  .overlay-toc-content {
    //height: 95%;
    height: 690px;
    width: 87%;
    //width: 350px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
    font-size:17px;
  }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
   .overlay-toc-content a {
      margin-bottom: 5px;
      margin-left: 2px;
   }
}

@media screen and (min-width: 501px) and (max-width: 550px) {
   .overlay-toc-content a {
      margin-bottom: 5px;
      margin-left: 10%;
   }
}

@media screen and (min-width: 551px) {
   .overlay-toc-content a {
      margin-bottom: 5px;
      margin-left: 15%;
   }
}

@media screen and (min-width: 551px) {
  .overlay-toc-content {
    //height: 95%;
    height: 690px;
    width: 482px;
    //width: 350px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
    font-size:17px;
  }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
   .toc-close-button {
      position: absolute;
      right: 30px;
      font-size: 17px;
      color: #999;
      cursor: pointer;
   }
}

@media screen and (min-width: 501px) {
   .toc-close-button {
      position: absolute;
      right: 30px;
      font-size: 19px;
      color: #999;
      cursor: pointer;
   }
}