@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

.blog-card {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 1.5rem auto;
  //box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  margin-bottom: 1.6%;
  //background: #fff;
background-color: rgba(255, 255, 255, 0.45);
backdrop-filter: blur(15px);
  line-height: 1.45;
  font-family: Poppins;
  border-radius: 15px;
  overflow: hidden;
  z-index: 0;

}

@media screen and (max-width: 1150px) {
  .blog-card {
    width: 90%;
  }
}

.blog-card.first {
      margin-top: 150px;
}

.blog-card a {
  color: inherit;
}

.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}

.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.blog-card .description {
  padding: 1rem;
  //background: #fff;
  position: relative;
  z-index: 1;
  text-align: justify;
}

.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins;
}

.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}

.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

.blog-card p {
  position: relative;
  margin: 0 0 0;
  color: #555;
  font-size: 13px;
}

.blog-card p:first-of-type {
  margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 3px;
  background: #1e90ff;
  width: 75px;
  top: -1rem;
  border-radius: 3px;
}

@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
  }

  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }

  .blog-card .description {
    flex-basis: 60%;
  }


  .blog-card.alt {
    flex-direction: row-reverse;
  }


  .blog-card.alt .details {
    padding-left: 25px;
  }

  .blog-card p {
    font-size: 16px;
  }
}



.projcard-tagbox {
	font-size: 14px;
	cursor: default;
	user-select: none;
	pointer-events: none;
	margin-top: 10px;
}
.projcard-tag {
	display: inline-block;
	background: #E0E0E0;
	color: #777;
	border-radius: 3px 0 0 3px;
	line-height: 26px;
	padding: 0 10px 0 23px;
	position: relative;
	margin-right: 20px;
	cursor: default;
	user-select: none;
	transition: color 0.2s;
	margin-bottom: 10px;
}
.projcard-tag::before {
	content: '';
	position: absolute;
	background: #fff;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	height: 6px;
	left: 10px;
	width: 6px;
	top: 10px;
}
.projcard-tag::after {
	content: '';
	position: absolute;
	border-bottom: 13px solid transparent;
	border-left: 10px solid #E0E0E0;
	border-top: 13px solid transparent;
	right: -10px;
	top: 0;
}

.quote {
	margin-top: 130px; 
	text-align: center; 
	font-family: Brush Script MT, cursive; 
	font-size:38px;
}

@media (min-width: 540px) and (max-width: 600px) {
  .quote {
      font-size:34px;
  }
}

@media (max-width: 539px) {
  .quote {
      font-size:30px;
  }
}


/*
i
{
  position:absolute;
  right:-2vw;
  bottom:-4vw;
  z-index:2;
  color:white;
	font-size:3rem;
  background: rgba(255,255,255,0.3);
  border: 1px solid rgba(255,255,255,0.2);
	padding: 1rem;
	border-radius: 10px;
	transition: all .6s ease-in-out;
   backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

@-webkit-keyframes SlowFloat {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.slowfloat2s {
    -webkit-animation: SlowFloat 2s infinite  alternate;
    animation: SlowFloat 2s infinite  alternate;
}

.slowfloat3s {
    -webkit-animation: SlowFloat 3s infinite  alternate;
    animation: SlowFloat 3s infinite  alternate;
}
*/